
[Desktop Entry]
Version=1.0
Name=Arch linux documentation
Comment=Archlinux.org
Exec=firefox https://archlinux.org/
Terminal=false
Type=Application
Icon=/home/vincent/.local/share/applications/DesktopIcons/archIcon.jpg
Categories=Network;

