[Desktop Entry]
Version=1.0
Name= chess.com 
Comment= site web de chess.com 
Exec=firefox https://www.chess.com/home
Terminal=false
Type=Application
Icon="$HOME"/.local/share/applications/DesktopIcons/chess.png
Categories=Network;


