[Desktop Entry]
Version=1.0
Name=agenda 
Comment=site web de google calendar 
Exec=firefox https://calendar.google.com/calendar/u/0/r
Terminal=false
Type=Application
Icon="$HOME"/.local/share/applications/DesktopIcons/agenda.png
Categories=Network;


