[Desktop Entry]
Version=1.0
Name= github
Comment= site web github
Exec=firefox https://github.com/
Terminal=false
Type=Application
Icon=/home/vincent/.local/share/applications/DesktopIcons/github.png
Categories=Network;


