[Desktop Entry]
Version=1.0
Name=lichess 
Comment=lichess.com site 
Exec=firefox https://lichess.org/
Terminal=false
Type=Application
Icon=/home/vincent/.local/share/applications/DesktopIcons/lichess.png
Categories=Network;


