[Desktop Entry]
Version=1.0
Name= mes cours
Comment= moodle shortcut
Exec=firefox https://moodle.uqo.ca/my/courses.php
Terminal=false
Type=Application
Icon="$HOME"/.local/share/applications/DesktopIcons/graduation.png
Categories=Network;


