[Desktop Entry]
Version=1.0
Name= test 
Comment= test pour will
Exec=firefox https://example.com/
Terminal=false
Type=Application
Icon=/home/vincent/.local/share/applications/DesktopIcons/png-icon-23.jpg
Categories=Network;


