[Desktop Entry]
Version=1.0
Name=Udemy 
Comment=site web de cour en ligne 
Exec= firefox https://www.udemy.com/
Terminal=false
Type=Application
Icon=/home/vincent/.local/share/applications/DesktopIcons/online-learning.png
Categories=Network;


